<nav>
    <ul>
        <li><a href="/MallUi/Index">View Products</a></li>
        <li><a href="/MallUi/SeedProducts">Seed Products</a></li>
        <li><a href="/MallUi/TransferProduct">Transfer Product</a></li>
        <li><a href="/MallUi/AddProduct">Add Product</a></li>
        <li><a href="/MallUi/UpdateProduct">Update Product</a></li>
    </ul>
</nav>
